<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      const roomid = "<%=roomid%>";
    </script> 
       <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
       <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
  

  <div class="main">
    <div class="main__left">
      <div class="main__video">
        <div id='video-grid'>

        </div>
      </div>
      <div class="main_controls">
        <div class="main_controls_block">
          <div class="main_controls_button">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div class="main_controls_button">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
        </div>

        <div class="main_controls_block">
          <div class="main_controls_button">
            <i class="fas fa-shield-alt"></i>
            <span>Security</span>
          </div>
          <div class="main_controls_button">
            <i class="fas fa-user-friends"></i>
            <span>Participants</span>
          </div>
          <div class="main_controls_button">
            <i class="fas fa-comment-alt"></i>
            <span>Chat</span>
          </div>
        </div>
        <div class="main_controls_block">
        <div class="main_controls_button">
          <span class="leave_meeting">Leave Meeting</span>
        </div>
        </div>


      </div>

    </div>

    <div class="main__right">
      <div class="main_header">
        <h6>chat</h6>
      </div>
      <div class="main__chat_window">
        <ul class="message">
        </ul>
        </div>
    
        <div class="main__message_container">
          <input id="chat_message" type="text" placeholder="Type message here...">


        </div>
      </div>
  </div>
<script src="script.js"></script>
</body>
</html>